@page
@model AboutModel
@{
ViewData["Title"] = "Book Management Pvt. Ltd.";
}
<!-- <h2 style="color:orange">@ViewData["Title"]</h2> -->
<div>
    <h4>We're Glad You Are Here</h4>
    <p><i>Book Management Pvt. Ltd. strives to increase support for core services, offer new instructional and
            purchasing options, augment our technology infrastructure, and enhance our overall ability to serve school
            districts and public organizations across the state of Ohio. We believe in a fair and competitive
            marketplace where customer choice isn't limited by geography.</i></p>
    <hr/>
    <h4>Management Team</h4>
    <hr/>
    <table>
        <tr>
            <td>Pavan</td>
            <td></td>
        </tr>
        <tr>
            <td>
                <img height="50%" width="50%" src="~/images/teammember1.jpg" />
            </td>
            <td>
                Pavan has 7 years of experience in Technology consulting and is the founder of Book Management Pvt. Ltd.
            </td>
        </tr>
        <tr>
            <td>
                Hanwei
            </td>
            <td>

            </td>
        </tr>
        <tr>
            <td>
                <img height="50%" width="50%" src="~/images/teammember2.jpeg" />
            </td>
            <td>
                Hanwei is an MBA grad from UC and is co founder of Book Management Pvt. Ltd.
            </td>
        </tr>
    </table>
</div>