@page
@model HelpModel
@{
}
<div class="row">
    <h1>Help / Documentation</h1>
    <h2>Homepage:</h2>
    <p>Home page contains statistics for Number of Books, Number of Programming Books, Number of Patrons, Number of
        Patrons by gender. Also, it contains the links for company information and contacts. </p>
    <img width="80%" height="80%" src="~/images/help/1.png" />
    <img width="80%" height="80%" src="~/images/help/2.png" />
    <h2>About Page:</h2>
    <img width="80%" height="80%" src="~/images/help/3.png" />
    <h2>Contact Page:</h2>
    <img width="80%" height="80%" src="~/images/help/4.png" />
    <h2>Administration Pages:</h2>
    <p>Here, we have three pages of Administration which include Book Management, Patron Management, and Reservation
        Management.</p>
    <img width="80%" height="80%" src="~/images/help/5.png" />
    <h2>For Book Management:</h2>
    <p>
        We can Create/Edit/Delete and show the Details of books, patrons, and reservations in these sections.
        To Create information of the new books, click on “Administration > Book Management > Create New Book”.</p>
    <img width="80%" height="80%" src="~/images/help/6.png" />
    <img width="80%" height="80%" src="~/images/help/7.png" />
    <p>There are the screenshots of the Edit/Details/Delete:</p>
    <img width="80%" height="80%" src="~/images/help/8.png" />
    <img width="80%" height="80%" src="~/images/help/9.png" />
    <img width="80%" height="80%" src="~/images/help/10.png" />
    <h2>For Patron Management:</h2>
    <img width="80%" height="80%" src="~/images/help/11.png" />
    <img width="80%" height="80%" src="~/images/help/12.png" />
    <img width="80%" height="80%" src="~/images/help/13.png" />
    <img width="80%" height="80%" src="~/images/help/14.png" />
    <img width="80%" height="80%" src="~/images/help/15.png" />
    <h2>For Reservation Management:</h2>
    <img width="80%" height="80%" src="~/images/help/16.png" />
    <img width="80%" height="80%" src="~/images/help/17.png" />
    <img width="80%" height="80%" src="~/images/help/18.png" />
    <img width="80%" height="80%" src="~/images/help/19.png" />
    <img width="80%" height="80%" src="~/images/help/20.png" />
    <h2>Custom Pages:</h2>
    <p>
        There are three custom pages which include Books by Genre, Reservation by Return Date, and Reservation by
        Patron.
        In the Books by Genre, it shows the collection data of genre of each book. “Reservation by Return Date” shows
        the
        data of return time, book title and borrow date. Int eh reservation by Patron page, it shows the relationships
        among three models: Books(Title/Author), Patron (Borrower), Reservation (Expected Return Date).</p>
    <img width="80%" height="80%" src="~/images/help/21.png" />
    <img width="80%" height="80%" src="~/images/help/22.png" />
    <img width="80%" height="80%" src="~/images/help/23.png" />
    <h2>Custom Forms:</h2>
    <img width="80%" height="80%" src="~/images/help/24.png" />
    <p>This page shows Id=3 didn’t have the reservation.</p>
    <img width="80%" height="80%" src="~/images/help/25.png" />
    <p>When customers search the id=5, the screen result will show the borrowed details as fallowing:</p>
    <img width="80%" height="80%" src="~/images/help/26.png" />
    <p>When customers search the id=5 in Return Book page, the screen result will show the borrowed details as
        fallowing:</p>
    <img width="80%" height="80%" src="~/images/help/27.png" />
    <p>In Borrow Book page, select the book from the drop down.</p>
    <img width="80%" height="80%" src="~/images/help/28.png" />
    <p>One Validation for each book is allowed:</p>
    <img width="80%" height="80%" src="~/images/help/29.png" />
    <p>only one reservation for each book.</p>
</div>